body {
    height: 100%;
    background: linear-gradient(93deg, rgba(209,238,174,1) 39%, rgba(148,233,202,1) 57%);
}

#editor {
    background: linear-gradient(93deg, rgba(210,238,175,1) 0%, rgba(148,232,201,1) 96%);
}

#preview {
    height: 90%;
    background-color: hsl(87, 65%, 81%, 0.6);
}

#preview img {
    max-width: 90%;
}

#preview code {
    background-color: #30307a;
    color: #d8e9e1;
    font-style: italic;
    padding: 0.3rem;
}

#preview pre {
    background-color: #30307a;
    border: 1px solid #30307a;
    border-radius: .5rem;
    padding: 1rem;
}

#preview blockquote {
    border-left: 3px solid #4fa102;
}

#preview blockquote p {
    margin-left: 5px;
}

#preview table, th, td {
    border: 1px solid #111;
    padding: 0.3rem;
}

.border-right {
    border-right: 2px solid #4fa102;
}